NODE_ENV=development
ADMIN_SERVICE_PORT=3007
ADMIN_SERVICE_RPC_PORT=4007

DATABASE_URL=mongodb://localhost:27017/antesocial
REDIS_URL=redis://default:redispassword@localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=redispassword

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=ante-social-admin-service
KAFKA_CONSUMER_GROUP=ante-social-admin-service-consumer
KAFKA_AUTO_CREATE_TOPICS=true

WALLET_SERVICE_PORT=3004
WALLET_RPC_PORT=4004

SENTRY_DSN=
